@charset "UTF-8";

body {
    background: url("../imagens/fundo.jpg") center repeat fixed;
    background-color: yellow;
    color: white;
    font-family: Cambria, serif;
}

div#interface {
    background-color: rgba(8,32,16,0.95);
    margin: -8px;
    padding: 25px;
    min-height: 750px;
}

section#conteudo {  
    min-height: 550px;
}

header#cabecalho {
    height: 150px;
    border-bottom: 1px solid green;
}

h1 {
    font-family: MV Boli, cursive;
    font-size: 35pt;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgb(255,255,128);
}

h2 {
    font-family: MV Boli, cursive;
    font-size: 22pt;
    color: blue;
    text-shadow: 0px 0px 10px rgb(255,255,128);  
}

h3 {
    font-family: MV Boli, cursive;
    font-size: 16pt;
    color: rgb(0,128,255);
    text-shadow: 0px 0px 4px blue;
}

h4 {
    font-family: MV Boli, cursive;
    font-size: 14pt;
    color: rgb(0,128,255);
    text-shadow: 0px 0px 4px blue;
}

p {
    text-indent: 20px;
}

a {
    color: cyan;
    text-decoration: none;
}

a:hover {
    color: greenyellow;
    text-decoration: underline;
}

img {
    border: 8px solid rgba(0,128,255,0.7);
    box-shadow: 0px 0px 4px blue;
    max-width: 800px;
    max-height: 350px;
}

iframe#youtube {
    border: 8px solid rgba(0,128,255,0.7);
    box-shadow: 0px 0px 4px blue;
    width: 400px;
    height: 225px;
}

table {
    border-spacing: 0px;
}

table th, td {
    padding: 10px;
    border: 2px solid green;
    box-shadow: 0px 0px 10px rgb(255,255,128);
}

table th {
    background-color: rgba(0,128,0,0.6);
}

table td {
    background-color: rgba(128,128,0,0.6);
}

table td.esq {
    font-weight: bolder;
    background-color: rgba(0,0,255,0.6);
}

form#contato {
    width: 600px;
    margin: 0px auto;
}

form fieldset {
    border: 2px solid green;
    box-shadow: 0px 0px 10px rgb(255,255,128);
}

form#contato fieldset#sexo {
    width: 125px;
}

form fieldset legend {
    color: rgb(128,255,128);
    text-shadow: 0px 0px 10px rgb(255,255,128);
}

form p {
    text-indent: 0px;
}

input, textarea {
    font-family: Cambria, serif;
    font-size: 11pt;
    background-color: rgba(128,128,0,0.5);
    color: white;
}

input:hover, textarea:hover {
    background-color: rgba(92,92,0,0.5);
}

form div#botoes input {
    padding: 10px;
    font-size: 12pt;
}

footer#rodape {
    height: 70px;
    border-top: 1px solid green;
}

form#login {
    width: 250px;
    margin: 0px auto;
}

div.env {
    width: 450px;
    margin: 0px auto;
}

div.env h4 {
    color: white;
    text-shadow: 0px 0px 5px black;
    padding: 10px;
    font-size: 18pt;
    text-align: center;
    box-shadow: 0px 0px 25px white;
    border-radius: 15px;
}

div#war h4 {
    background-color: rgba(255,255,0,0.65);
}

div#err h4 {
    background-color: rgba(255,0,0,0.65);
}

div#suc h4 {
    background-color: rgba(0,255,0,0.65);
}